<!DOCTYPE html>
<html ng-app="counter_configuration">
<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<style>

 th, td {
    border: 1px solid black;
}
</style>

<body>
<%=title%>

<div ng-controller="signupCtrl">
<h1>Don't Have an account </h1>
<input type="button" ng-click="signup()" name="signup" value="Sign Up" />
</div>

<div ng-controller="signupCtrl">


<input type="button" ng-click="loginasadmin()" name="LOGIN AS ADMIN" value="loginasadmin" />
</div>
<div ng-controller="signupCtrl">

<input type="button" ng-click="counteradmin()" name="LOGIN AS COUNTER ADMIN" value="loginascounteradmin" />
</div>

<script>
var app = angular.module('counter_configuration', []);



app.controller('signupCtrl', function($scope) {
  
    $scope.loginasadmin = function(){
    window.location='/loginasadmin';
    };

   $scope.counteradmin = function(){
    window.location='/loginasadmin';
    };
    $scope.signup = function() {
    
		    	window.location ='/signup';
    };
});

</script> 

</body>
</html>
